<%- include("header"); -%>


<div class="container">
    
    <h1><%= title %></h1> 
    <p><div><b><%=  briefIntroduction %></b></div></p>
    <pre>
        <%= content %>
    </pre>
</div>
<%- include("footer"); -%>